.image-to-show {
    width: 400px;
    height: 400px;
}

.images-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.button {
    margin: 20px;
    padding: 20px;
    border: 1px solid grey;
    background-color: brown;
    color: black;
    border-radius: 5px;
}

#stop-button {
    position: relative;
    left: 100px;
}

.hidden {
    display: none;
    color: #ff0000aa;
}