body {
  font-family: 'Roboto', 'Arial', sans-serif;
}

.header {
  @include page-container;
  margin-top: 25px;
  margin-bottom: 40px;

  &__navpan {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 25px;
    position: relative;
  }

  .header__menu {
    list-style: none;
    display: none;
    width: 182px;

    &--mb-show {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 37px;
      right: 0;
    }
  }

  .menu__item {
    padding: 6px 0 6px 15px;
    background-color: #F5F5F5;
  }

  .menu__item:hover {
    background-color: #E5E5E5;;
  }


  .menu__link {
    color: $dark-grey;
    text-transform: uppercase;
  }

  .menu__link--active {
    color: #57A4A4;
  }

  &__image {
    width: 100%;
  }
}

.burger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 37px;
  background-color: black;

  &__line {
    width: 40%;
    height: 2px;
    margin-bottom: 2px;
    background-color: white;
    transition: 0.3s all ease-in-out;
  }

  &__line:last-child {
    margin-bottom: 0;
  }
}

.burger-toggle {

  & > .burger__line:first-child {
    transform: rotate(45deg) translate(16%, 150%);
    width: 40%;
    height: 2px;
  }

  & > .burger__line:nth-child(2) {
    opacity: 0;
  }

  & > .burger__line:last-child {
    transform: rotate(-45deg) translate(15%, -140%);
    width: 40%;
    height: 2px;
  }
}

@media screen and (min-width: $m-size) {
  .burger {
    display: none;
  }

  .header {
    margin-top: 40px;
    margin-bottom: 55px;

    &__navpan {
      width: 80%;
      margin: 0 auto 40px auto;
    }

    .header__menu {
      list-style: none;
      display: flex;
      flex-direction: row;
      background-color: white;
      width: 100%;
      justify-content: space-between;

      &--mb-show {
        position: static;
      }
    }

    .menu__item {
      padding: 7px 0;
      background-color: white;
    }

    .menu__item:hover {
      background-color: white;
    }

    .menu__link--active {
      color: #57A4A4;
    }

    &__image {
      width: 100%;
    }
  }
}