.posts-section {
  @include page-container;

  &__heading {
    @include section-heading;
    color: $dark-grey;
    text-align: left;
    margin-bottom: 30px;
  }

  &__content-container {
    display: flex;
    flex-direction: column;
  }

  &__post-container:nth-child(n+4) {
    display: none;
  }

  &__text-wrapper {
    margin-top: 20px;
    margin-bottom: 35px;
  }

  &__post-heading {
    font-weight: bold;
    font-size: 14px;
    color: $dark-grey;
    margin-bottom: 10px;
  }

  &__post-statistics {
    color: $light-grey;
    font-size: 11px;

  }

  &__post-text {
    display: none;
  }
  &__comments {
    color: $light-grey;
  }
}

@media screen and (min-width: $m-size) {
  .posts-section {
    &__heading {
      font-size: 16px;
    }

    &__content-container {
      width: 80%;
    }

    &__post-container:nth-child(n+4) {
      display: flex;
    }

    &__post-container {
      display: flex;
      margin-bottom: 30px;
    }

    &__text-wrapper {
      margin: 0 0 0 20px;
    }

    &__post-heading {
      font-size: 16px;
    }

    &__post-statistics {
      font-size: 12px;
      margin-bottom: 15px;

    }

    &__post-text {
      display: block;
      line-height: 26px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .posts-section {
    &__content-container {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      max-height: 400px;
      width: 100%;
      max-width: 1200px;
    }

    &__post-container {
      display: flex;
      margin-bottom: 30px;
      width: 45%;
    }
    &__post-container:nth-child(odd) {
      margin-right: 10%;
    }
  }
}