.instagram-section {

  .page-container {
    @include page-container;
  }

  &__heading-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 15px;
  }

  &__heading {
    @include section-heading;
    color: $dark-grey;
    text-align: left;
  }

  &__insta-link {
    display: none;
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
    color: $dark-grey;
  }

  &__images-container {
    display: flex;
    flex-wrap: wrap;
    max-height: 250px;
    margin-bottom: 40px;
    overflow: hidden;
    justify-content: space-between;

  }

  &__image {
    width: 250px;
    height: 250px;
    margin-right: 10px;
  }

  &__image:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: $m-size) {
  .instagram-section {
    background-color: #F7F7F7;

    .page-container {
      @include page-container;
      padding-top: 50px;
      padding-bottom: 50px;

    }

    &__insta-link {
      display: block;
    }
  }
}