.footer {

  background-color: black;

  .page-container {
    @include page-container;
  }

  &__heading {
    @include section-heading;
    color: white;
    text-align: center;
    padding-top: 60px;
    margin-bottom: 10px;
  }

  &__text {
    color: #B9B9B9;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 25px;
  }

  &__text-p2 {
    display: none;
  }

  &__icons-container {
    text-align: center;
  }

  &__contacts {
    color: #B9B9B9;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 45px;
    padding-top: 25px;
  }

}

@media screen and (min-width: $m-size) {
  .footer {
    &__heading {
      font-size: 16px;
    }

    &__text {
      font-size: 16px;
      line-height: 28px;
      margin-bottom: 35px;
    }

    &__text-p2 {
      display: inline-block;
    }

    &__contacts {
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding-bottom: 55px;
      padding-top: 35px;
    }
  }
}