.form {
  display: flex;
  flex-direction: column;
  //margin: 20px;
  padding: 30px 60px;
}

.form__field{
  width: 30%;
  margin: 5px;
}

.error-message {
  font-size: 12px;
 color: red;
}

.checkout-btn {
  width: 30%;
}

.checkout-lbl{
  display: flex;
  justify-content: center;
  width: 30%;
}