@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap");

body {
    font-family: "Ubuntu", Arial, sans-serif;
}

.container {
    background-image: url("../images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
}


.header {
    width: 100%;
    background: rgba(0, 0, 0, 0.41);
}

.logo {
    display: inline-block;
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 80px;
    letter-spacing: 0.03em;
}


.logo:hover {
    color: #3CB878;
    transition: 0.6s;
}

.registration_button {
    float: right;
    font-size: 14px;
    margin: 23px 70px 23px 15px;
    color: white;
}

.registration_button::before {
    content: "or";
    padding-right: 3px;
    color: white;
}

.registration_button:hover {
    color: #3CB878;
    transition: 0.6s;
}

.log_in_button {
    float: right;
    font-size: 14px;
    margin: 23px 0 23px 55px;
    color: white;
}

.log_in_button::before {
    content: "Welcome,";
    padding-right: 3px;
    color: white;
}

.log_in_button:hover {
    color: #3CB878;
    transition: 0.6s;
}

.icons_sprite_background {
    background-image: url("../images/spritesheet.png");
    width: 30px;
    height: 20px;
}

.calendar_button {
    background-position: -5px -61px;
    float: right;
    margin-top: 20px;
    margin-right: 28px;
}

.calendar_button:hover {
    background-position: -5px -90px;
    transition: 0.6s;
}

.journey_button {
    background-position: -5px -179px;
    float: right;
    margin-top: 20px;
    margin-right: 56px;
}

.journey_button:hover {
    background-position: -5px -209px;
    transition: 0.6s;
}

.forum_button {
    background-position: -5px -119px;
    float: right;
    margin-top: 20px;
    margin-right: 28px;
}

.forum_button:hover {
    background-position: -5px -149px;
    transition: 0.6s;
}

/*---------clear fix----------*/
.header:after {
    content: "";
    display: table;
    clear: both;
}

/*----------------------------*/

.registration-form {
    position: relative;
    width: 445px;
    margin: 0 auto;
    top: calc((100vh - 60px - 585px) / 2);
    background-color: white;
}

.decoration-element {
    width: 18px;
    height: 18px;
    background-color: #3CB878;
    display: inline-block;
    margin-left: 0;
    margin-top: 30px;
}

.sign_up_authorization {
    font-size: 20px;
    color: #434343;
    margin-top: 29px;
    margin-left: 40px;
    text-align: left;
}

.log_in_authorization {
    font-size: 14px;
    color: #3CB878;
    margin-right: 0;
    margin-top: 29px;
    margin-left: 215px;
}

.facebook_authorization {
    position: relative;
    margin-top: 19px;
    margin-left: 60px;
    width: 160px;
    height: 45px;
    background: #305DB8;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}


.facebook_authorization_text {
    padding: 4px 0 6px 20px;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 16px;
    border-left: 1px solid rgba(10, 22, 47, 0.1);
    font-family: "Ubuntu", Arial, sans-serif;
}


.facebook_authorization_icon {
    position: absolute;
    left: 20px;
    top: 14px;
}

.google_authorization {
    position: relative;
    margin-left: 2px;
    background: #DF4A32;
    color: white;
    width: 160px;
    height: 45px;
    border-radius: 3px;
    cursor: pointer;
}

.google_authorization_text {
    padding: 4px 0 6px 20px;
    position: absolute;
    top: 10px;
    right: 30px;
    font-size: 16px;
    border-left: 1px solid rgba(10, 22, 47, 0.1);
    font-family: "Ubuntu", Arial, sans-serif;
}

.google_authorization_icon {
    position: absolute;
    left: 15px;
    top: 16px;
}

.separation_word {
    text-align: center;
    color: #848484;
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 6px;
}


.form_field {
    margin-left: 61px;
    margin-top: 9px;
    padding-left: 18px;
    width: 302px;
    height: 45px;
    border: 1px solid #F2F2F2;
}


.margin_bottom_5 {
    margin-bottom: 5px;
}

.margin_bottom_5:focus {
    margin-bottom: 9px !important;
}

.form_field::-moz-placeholder {
    color: #BEBEBE;
}

.form_field::-webkit-input-placeholder {
    color: #BEBEBE;
}

.form_field:focus {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    outline: none;
    margin-top: 5px;
    margin-bottom: 4px;
}


.checkbox_label {
    display: inline-block;
    width: 322px;
    height: 29px;
    margin-bottom: 9px;
    margin-left: 61px;
    padding-top: 16px;
    font-family: "Ubuntu", Arial, sans-serif;
    font-size: 14px;
    vertical-align: middle;
    cursor: pointer;
}

/*------------черновик стилизации чекбокса (пожалуйста, не обращайте внимания)-----------*/
/*.checkbox{*/
/*    margin-bottom: 9px;*/
/*    cursor: pointer;*/
/*opacity: 0;*/
/*position: absolute;*/
/*}*/

/*.checkbox_square {*/
/*display: inline-block;*/
/*width: 18px;*/
/*    height: 18px;*/
/*border: 1px solid #F2F2F2;*/
/*}*/
/*--------------------------------------------------------------------------------------*/
.terms_link {
    color: #3CB878;
}

.terms_text {
    color: #434343;
}

.submit_button {
    width: 322px;
    height: 45px;
    background-color: #3CB878;
    font-size: 16px;
    font-family: "Ubuntu", Arial, sans-serif;
    margin-left: 61px;
    margin-bottom: 31px;
    padding: 13px 98px;
    cursor: pointer;
    color: white;
}