.full-page {
    width: 1280px;
    text-align: center;
    margin: auto;
}

.header {
    font-size: 80px;
    color: black;
    text-align: left;
    margin-bottom: 38px;
    margin-top: 60px;
}

.header-p1 {
    color: black;
}

.header-p2 {
    color: #4BCAFF;
}

.navbar {
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 50px;
    background-color: #35444F;

}

.navbar-item {
    text-align: center;
    color: white;
    font-size: 24px;
    padding: 25px 38px;
}

.padding-left-219 {
    padding-left: 219px;
}

.padding-right-189 {
    padding-right: 189px;
}

.navbar-item:hover {
    background-color: #222F3A;
    border: 1px solid white;
}


.main-menu {
    display: inline-block;
    text-align: left;
    border: 1px solid #000000;
    font-size: 27px;
    width: 344px;
    vertical-align: top;
    margin-right: 45px;
    background-color: rgba(0, 0, 0, 0.0001);
}

.main-menu-item {
    padding: 25px 25px 25px 50px;
}

.main-menu-item-link {
    color: #495863;
}

.main-menu-item:hover {

    background-color: #DBDBDB;
    padding-left: 75px;
}

.main-menu-item:hover .main-menu-item-link {
    color: #35444F;
}


.image-text-block {
    display: inline-block;
    width: 885px;
    text-align: right;
}

.image-div {
    display: inline-block;
    border: 1px solid #000000;
    margin-bottom: 42px;
    overflow: hidden; /* Скрываем всё за контуром */
}

.image {
    text-align: center;
    padding: 73px 266px 73px 297px;
    transition: 1s;
}

.image:hover {
    transform: scale(1.2); /* Увеличиваем масштаб */
}

.text-block1 {
    font-size: 18px;
    text-align: left;
}

.text-block2 {
    font-size: 18px;
    text-align: left;
    margin-bottom: 54px;
}

.footer {
    width: 1280px;
    background: rgba(99, 105, 110, 0.48);
    line-height: 70px;
    font-size: 24px;
}

.footer-item {
    margin-right: 40px;
    font-size: 28px;
    color: #0C1927;
}

.footer-item:hover {
    color: #3181A6;
    /*text-decoration: underline;*/
    border-bottom: 1px solid #3181A6;

}

.copyright {

    padding-left: 500px;
    background: rgba(99, 105, 110, 0.48);
}

.margin-left-43 {
    margin-left: 43px;
}

.margin-right-143 {
    margin-right: 143px;
}
