@font-face {
    font-family: "Arimo";
    src: url("../css/webfontkit-20200405-075054/arimo-regular-webfont.eot");
    src: url("../css/webfontkit-20200405-075054/arimo-regular-webfont.eot?#iefix") format("embedded-opentype"),
    url("../css/webfontkit-20200405-075054/arimo-regular-webfont.woff2") format("woff2"),
    url("../css/webfontkit-20200405-075054/arimo-regular-webfont.woff") format("woff"),
    url("../css/webfontkit-20200405-075054/arimo-regular-webfont.ttf") format("truetype"),
    url("../css/webfontkit-20200405-075054/arimo-regular-webfont.svg#arimoregular") format("svg");
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: "Arimo";
    src: url("../css/webfontkit-20200405-075054/arimo-bold-webfont.eot");
    src: url("../css/webfontkit-20200405-075054/arimo-bold-webfont.eot?#iefix") format("embedded-opentype"),
    url("../css/webfontkit-20200405-075054/arimo-bold-webfont.woff2") format("woff2"),
    url("../css/webfontkit-20200405-075054/arimo-bold-webfont.woff") format("woff"),
    url("../css/webfontkit-20200405-075054/arimo-bold-webfont.ttf") format("truetype"),
    url("../css/webfontkit-20200405-075054/arimo-bold-webfont.svg#arimobold") format("svg");
    font-weight: bold;
    font-style: normal;

}

.pricing_table_2 {
    font-family: "Arimo", "Arial", sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    color: #484848;
    border: 20px solid #3A4965;
}


.table_header_cell {
    border-bottom: 10px solid #3A4965;
    vertical-align: middle;
    font-size: 20px;
    width: 160px;
}

.icon_wrapper {
    display: block;
    font-size: 24px;
    padding-bottom: 10px;
}

th {
    border-bottom: 2px solid rgba(189, 195, 199, 0.5);
    font-weight: bold;
}

td {
    border-bottom: 2px solid rgba(189, 195, 199, 0.5);
    text-align: center;
    vertical-align: middle;

}
td:nth-child(odd) {
    background-color: #F2F2F2;
}

td:nth-child(even) {
    background-color: #E3E3E3;
}

th:nth-child(odd) {
    background-color: #F2F2F2;
}

th:nth-child(even) {
    background-color: #E3E3E3;
}
.word_wrapper{
    display: block;
    margin-bottom: 10px;
}

.table_name {
    font-weight: bold;
    background-color: #FAFAFA !important;
    padding: 58px 0 42px 0;
    width: 200px;
}

.table_name_small_text {
    display: block;
    font-size: 14px;
    padding-bottom: 5px;
}

.table_name_big_text {
    font-size: 20px;
}

.pricing_plan_cheapest {
    background-color: #89C331 !important;
    color: white;
    font-weight: bold;
    font-size: 36px;
    border-bottom: rgba(240, 74, 86, 0.3)
}
.pricing_plan_middle{
    background-color: #F04A56 !important;
    color: white;
    font-weight: bold;
    font-size: 36px;
    border-bottom: 2px solid rgba(240, 74, 86, 1)
}
.pricing_plan_expensive{
        background-color: #20807C !important;
    color: white;
    font-weight: bold;
    font-size: 36px;
}
.pricing_plan_name {
    display: block;
    font-size: 24px;
    padding-top: 20px;
    margin-bottom: 10px;
}

.price_wrapper {
     display: block;
}

sup {

    font-size: 18px;
    vertical-align: super;
    position: relative;
    top: -2px;
}

.payment_period {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    top: -8px;
}
.buy_button{
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    background-color: #414141;
    padding: 15px 35px 5px 35px;
    font-family: "Arimo", "Arial", sans-serif;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 35px;
    cursor: pointer;
    border-bottom: 5px solid #343434;

}
.buy_button:hover{
    background-color: #343434;
    color: lightgray;
}