@mixin page-container () {
  min-width: $s-size;
  max-width: $l-size;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 25px;
}

@mixin section-heading {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
}