@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

.page_container {
    font-family: "Open Sans", "Arial", "sans-serif";
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #313131;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.logo_text {
    margin-left: 15px;
    font-weight: 700;
    font-size: 22px;
    color: yellowgreen;
}

.navbar_item {
    display: inline-block;
    margin: 30px 30px 30px 0;
}

.navbar_item_link {
    text-transform: uppercase;
    font-size: 15px;
    color: yellowgreen;
}

.search_button {
    background-color: black;
}

.search_icon {
    color: yellowgreen;
    font-size: 17px;
    padding: 30px;
    cursor: pointer;
}

.news_section {
    background-image: url("../image/header-bg.jpeg");
    background-position: 50% 125%;
    background-attachment: fixed;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 0 450px 0 rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: yellowgreen;
}

.section_heading {
    font-size: 27px;
    text-transform: uppercase;
    text-align: center;
}

.news_section_heading {
    color: yellowgreen;
    padding-top: 130px;
    font-weight: 400;
}

.subscribe_button {
    padding: 17px 20px 17px 20px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    margin: 55px 20px 130px 0;
    background-color: #89CA62;
    cursor: pointer;
    font-family: "Open Sans", "Arial", "sans-serif";
}


.articles_button {
    padding: 17px 30px 17px 30px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    background-color: #14B9D5;
    cursor: pointer;
    font-family: "Open Sans", "Arial", "sans-serif";
}

.popular_posts_section {
    background: yellowgreen;
}

.posts_section_heading {
    padding-top: 60px;
    padding-bottom: 60px;
    color: #18B4CF;
    font-weight: 700;
}

.popular_posts_container {

    align-self: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    height: 900px;
}

.popular_post_item_container {
    margin: 15px;
}

.margin_top_0 {
    margin-top: 0;
}

.margin_bottom_0 {
    margin-bottom: 0;
}

.popular_posts_text {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: yellowgreen;
    color: #353A3D;
}

.popular_clients_section {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    background-image: url(../image/pop_clients_bg.jpeg);
    background-position: center;
    background-attachment: fixed;
    box-shadow: inset 0 600px 0 rgba(0, 0, 0, 0.3);
    width: 100%;
    justify-content: space-evenly;
}

.popular_clients_section_heading {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    color: white;
    font-weight: 700;
    font-size: 32px;
    padding-top: 190px;
    padding-bottom: 120px;
    position: relative;
}

.popular_clients_heading:after {
    display: block;
    width: 60px;
    content: "";
    border-bottom: 3px solid #18B4CF;
    position: absolute;
    bottom: 65px;
    left: 48.5%;
}

.popular_clients_logos_container {
    grid-column: 2/4;
    grid-row: 2;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    justify-content: center;
    margin-bottom: 200px;
    column-gap: 50px;
}

.top_rated_section {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    background-color: yellowgreen;
}

.top_rated_section_heading {
    grid-column: 1/9;
    grid-row: 1;
    padding-top: 55px;
    padding-bottom: 55px;
    color: #18B4CF;
    font-weight: 700;
}

.top_rated_items_container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;

}


.hot_news_section {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    grid-row-gap: 40px;
    padding-top: 40px;
    padding-bottom: 70px;
    padding-left: 19%;
    padding-right: 19%;
    background-color: yellowgreen;
}

.hot_news_section_heading {
    grid-column: 1/5;
    grid-row: 1;
    color: #18B4CF;
    font-weight: 700;
}

.hot_news_item_container {
    background-color: yellowgreen;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto;
    cursor: pointer;
}

.hot_news_item1_container {

    grid-column: 1/4;
    grid-row: 2;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    margin-right: 35px;
}

.hot_news_item2_container {
    grid-column: 4;
    grid-row: 2;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto;

    font-weight: bold;
    font-size: 18px;
}

.hot_news_item3_container {
    grid-column: 1/3;
    grid-row: 3;
    margin-right: 70px;
}

.hot_news_item4_container {
    grid-column: 3/5;
    grid-row: 3;
}

.hot_news_item5_container {
    grid-column: 1/3;
    grid-row: 4;
    margin-right: 70px;
}

.hot_news_item6_container {
    grid-column: 3/5;
    grid-row: 4;
}

.hot_news_item7_container {
    grid-column: 1;
    grid-row: 5;
    display: grid;
    grid-template-rows: auto auto;
    font-weight: bold;
    font-size: 18px;
}

.hot_news_item8_container {
    grid-column: 2/5;
    grid-row: 5;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    margin-left: 45px;
}

.hot_news_item_text {
    font-weight: 600;
    font-size: 14px;
    text-align: right;
    padding: 18px 25px 18px 0;

}

.hot_news_wide_item_text {
    font-weight: 600;
    font-size: 14px;
    text-align: right;
    align-self: center;
    padding-right: 25px;
}

.hot_news_item_heading {
    font-weight: 700;
    font-size: 18px;
    display: block;
    padding-bottom: 18px;
}

.hot_news_small_item_heading {
    font-weight: 700;
    font-size: 18px;
    justify-self: center;
}


.footer {
    background-color: black;
    color: yellowgreen;
    display: flex;
    justify-content: space-between;
    padding-left: 19%;
    padding-right: 19%;
}

.copyright {
    font-size: 13px;
    align-self: center;
}

.footer_logo {
    display: flex;
    align-items: start;
    margin-top: 30px;
    margin-bottom: 30px;
}

.footer_logo_text {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 900;
}
