.timer {
    /*position: absolute;*/
    width: 150px;
    height: 150px;
    /*margin: 250px auto;*/
    color: gold;
    font-size: 140px;
    background-color: grey;
    text-align: center;
    vertical-align: center;
}