.page_container{
    font-family: "Roboto", "Arial", "sans-serif";
}
.header {
    background-image: url("../css/images/bg1.jpg");
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
    box-shadow: inset 0 800px 0 rgba(0, 0, 0, 0.8);
    background-attachment: fixed;
}

.slogan_text_part1 {
    font-weight: bold;
    font-size: 52px;
    margin-bottom: 30px;
    padding-top: 150px;
    text-transform: uppercase;
    color: yellowgreen;
    text-align: center;
}

.slogan_text_part2 {
    font-weight: bold;
    font-size: 52px;
    text-transform: uppercase;
    color: yellowgreen;
    text-align: center;
    padding-bottom: 200px;

}

.slogan_text_part2:before {
    content: "";
    height: 0;
    width: 0;
    border-bottom: 100px solid;
    border-bottom-color: yellowgreen;
    border-right: 50vw solid transparent;
    position: absolute;
    top: 500px;
    left: 0;
}

.slogan_text_part2:after {
    content: "";
    height: 0;
    width: 0;
    border-bottom: 100px solid;
    border-bottom-color: yellowgreen;
    border-left: 50vw solid transparent;
    position: absolute;
    top: 500px;
    right: 0;
}


.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    position: relative;
    background-color: yellowgreen;
    top: 20px;
    right: 0;
}

.logo {
    font-weight: 300;
    font-size: 36px;
    color: #424F57;
    padding-bottom: 40px;
    padding-top: 40px;
}

.logo_part2 {
    font-weight: 700;
    font-size: 36px;
    color: #14AFCA;
    text-transform: uppercase;
}

.navbar_item {
    display: inline-block;
    margin-right: 50px;
}

.navbar_item_link {
    font-size: 15px;
    color: #424F57;
    text-transform: uppercase;
    font-weight: bold;
}
.navbar_item_link:hover {
    color: #14AFCA;
}
.what_section {
    background-color: yellowgreen;
    position: relative;
}
.what_section_heading {
    color: #14AFCA;
    font-weight: bold;
    font-size: 60px;
    text-align: center;
    padding-top: 130px;
    text-transform: uppercase;
}
.what_section_subheading {
    font-size: 18px;
    color: #424F57;
    text-align: center;
    padding-top: 30px;
    font-weight: bold;
    letter-spacing: 1px;
}
.what_section_text {
    padding: 30px 205px 90px 205px;
    font-size: 16px;
    color: #424F57;
    text-align: center;
    line-height: 32px;
}

.what_section_text:before {
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    bottom: -100px;
right: 0;
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
    border-top: 100px solid ;
    border-top-color: yellowgreen;
}
.companies_section {
    background-image: url("../css/images/bg2.jpg");
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 0 730px 0 rgba(0, 0, 0, 0.8);
}
.companies_section_heading {
    padding-top: 150px;
    color: #14AFCA;
    font-weight: bold;
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
}
.companies_section_subheading {
    font-size: 18px;
    color: yellowgreen;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 60px;
    font-weight: bold;
    letter-spacing: 1px;
}
.logos_container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, auto);
    grid-column-gap: 50px;
    grid-row-gap: 120px;
    justify-content: center;
    align-items: center;
       margin-top: 60px;
    padding-bottom: 120px;
}
.team_section {
    position: relative;
    background-color: yellowgreen;
}
.team_section_heading {
    color: #14AFCA;
    font-weight: bold;
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 150px;
}
.team_section_subheading {
    font-size: 18px;
    color: #424F57;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
    padding-top: 30px;
    margin-bottom: 50px;
}
.team_members_grid_container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto;
    grid-column-gap: 60px;
    justify-content: center;
    align-items: center;
    padding: 0 180px 0 180px;
}

.team_member_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 310px;
    text-align: center;
    margin-bottom: 130px;
}
.team_member_text {
    font-size: 15px;
    line-height: 28px;
    color: #424F57;
    padding-top: 10px;
}
.team_members_flex-container:before {
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    bottom: -100px;
    right: 0;
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
    border-top: 100px solid white;
}
.testimonials_section {
    background-image: url("../css/images/bg3.jpg");
    background-attachment: fixed;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
    box-shadow: inset 0 800px 0 rgba(0, 0, 0, 0.8);
}
.testiomonials_section_heading {
    color: #14AFCA;
    font-weight: bold;
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 200px;
}
.testiomonials_section_subheading {
    font-size: 18px;
    color: yellowgreen;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 50px;
    font-weight: bold;
    letter-spacing: 1px;
}
.testiomonials_section_text {
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 1px;
    color: yellowgreen;
    padding-left: 250px;
    padding-right: 250px;
    padding-bottom: 210px;
}

.testiomonials_section_text:after {
    content: "- Shoaib Ahmed";
    position: relative;
    top: 40px;
    right: 135px;
    font-weight: bold;
}

.testimonials_section:before {
    content: "";
    height: 0;
    width: 0;
    border-bottom: 100px solid;
    border-bottom-color: yellowgreen;
    border-right: 50vw solid transparent;
    position: absolute;
    bottom: 0;
    left: 0;
}

.testimonials_section:after {
    content: "";
    height: 0;
    width: 0;
    border-bottom: 100px solid;
    border-bottom-color: yellowgreen;
    border-left: 50vw solid transparent;
    position: absolute;
    bottom: 0;
    right: 0;
}

.why_section {
    background-color: yellowgreen;
}
.why_section_heading {
    color: #14AFCA;
    font-weight: bold;
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 120px;
}
.why_section_subheading {
    font-size: 18px;
    color: #424F57;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 50px;
    font-weight: bold;
    letter-spacing: 1px;
}
.why_section_text_part1{
    font-weight: bold;
    font-size: 30px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #424F57;
    word-spacing: 5px;
}
.why_section_text_part2{
    font-weight: bold;
    font-size: 30px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 1px;
    word-spacing: 5px;
    text-transform: uppercase;
    color: #424F57;
    padding-bottom: 100px;
}
.footer {
    /*font-family: "Roboto", "Arial", "sans-serif";*/
    background-color: yellowgreen;

}
.copyright {
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 1px;
    color: #3D3C3C;
}
.author {
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 1px;
    color: #3D3C3C;
    padding-bottom: 90px;
}
.author_name {
    font-weight: bold;
}