.sw-block {
    /*width: 60%;*/
    margin: 0 auto;

background-color: black;
}
.episode-container{
    color: gold;
    padding-bottom: 30px;
    font-family: sans-serif;
    width: 60%;
    margin: 0 auto;
}
.episode-container:first-child {
    padding-top: 30px;
}

.episode-number {
    text-align: center;
}

.episode-title {
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
}

.episode-characters {
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

.episode-characters span {
    margin-right: 15px;
}

.episode-intro {
    text-align: center;
}