.goods-item {
  border: 1px solid orange;
  width: 19%;
  margin: 5px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 4px;
}

.goods-item__fav-icon {
  width: 20px;
  height: 20px;
}

.goods-item__name-wrapper {
  display: flex;
  justify-content: space-evenly;
}