.page_container {
    perspective: 10px;
    overflow: hidden;
    background-color: black;
    height: 100vh;
    position: relative;
}

.text_container_wrapper {
    transform: translate3d(0px, 0px, -9px) rotate3d(1, 0, 0, 1deg);
    /*background-color: rgba(10, 0, 5, 0.9);*/
}
.text_container {
    color: gold;
    animation: text_animation 30s infinite linear ;
}
@keyframes text_animation {
    0% {transform: translate(0, 1100px);}
    100% {transform: translate(0, -1100px);}
}
.episode_number {
    font-size: 110px;
    text-align: center;
    margin-bottom: 80px;
}
.text_heading {
    text-align: center;
    font-size: 110px;
    margin-bottom: 80px;
}

.text {
    font-size: 110px;
    text-align: left;
    margin-bottom: 80px;
}
.audio {
    position: absolute;
}


