.goods-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.header {
padding: 30px;
  background-color: orange;
  display: flex;
  justify-content: space-between;
}

.logo {
  cursor: pointer;
  text-decoration: none;
}

.logo__text-p1 {
  font-size: 32px;
  color: dimgrey;
  font-weight: bold;
}

.logo__text-p2 {
  text-transform: uppercase;
  font-size: 32px;
  color: #E74C3C;
  font-weight: bolder;
}

.header__link {
  text-decoration: none;
  color: dimgrey;
  background-color: #E74C3C;
  border-radius: 4px;
  margin: 10px;
  font-size: 22px;
  border: 1px solid dimgrey;
  padding: 10px 20px;
}