.game {
    font-family: sans-serif;
}

.game__menu {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.game__menu-heading {
    font-size: 3vh;
}

.game__menu-button {
    font-size: 2vh;
}

.game__score-block {
    display: none;
    justify-content: space-between;
    align-items: center;
    width: 20vh;
    height: 10vh;
    margin: 0 auto;
}

.game__player-score {
    width: 50%;
    height: 100%;
    background-color: green;
    text-align: center;
    color: white;
    font-size: 9vh;
}

.game__machine-score {
    width: 50%;
    height: 100%;
    background-color: red;
    text-align: center;
    color: white;
    font-size: 9vh;
}


.game__play-area {
    margin: 2vh auto 0 auto;
    width: 80vh;
    height: 80vh;
    /*padding-top: 5vh;*/
}
.game__play-area-cell {
    padding: 2%;
    background-color: gray;
    border: 2px solid darkorange;
}

.active {
    background-color: blue;
}
.machine-score {
    background-color: red;
}

.player-score {
    background-color: green;
}

.game__winner-block {
    font-family: sans-serif;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 43%;
    top: 40%;
    background-color: gold;
}
.game__winner-block-text {
   margin: 20px;
}

.game__winner-block-button {
    margin: 20px;
}