.navbar{
    /*font-family: Montserrat;*/
    /*font-style: normal;*/
    background-color: rgba(0 0 0 0.0001);
    width: 1280px;
    height: 65px;
    text-align: center;
    color: #FF0000;
    text-transform: uppercase;
    margin: 30px 0 0 0;
}

.navbar-item{
    /*font-family: Montserrat;*/
    /*font-style: normal;*/
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 2.7px;
    margin: 25px;
}

.h1{
    /*font-family: Montserrat;*/
    /*font-style: normal;*/
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
    letter-spacing: 3.3px;
    width: 1280px;
    height: 29px;
    /*text-align: center;*/
    /*align-items: center;*/
    margin:47px 364px 47px 320px;
}
.text1{
    /*font-family: Montserrat;*/
    /*font-style: normal;*/
    width: 1145px;
    height: 120px;
    text-align: center;
    letter-spacing: 2.4px;
    padding: 0 67px 0 68px;
    color: #373737;
}
.text2{
    /*font-family: Montserrat;*/
    /*font-style: normal;*/
    width: 1145px;
    height: 220px;
    text-align: center;
    letter-spacing: 2.4px;
    padding: 0 67px 0 68px;
    color: #373737;
}
.button{
    /*font-family: Montserrat;*/
    /*font-style: normal;*/
    width: 195px;
    height: 54px;
    letter-spacing: 1.8px;
    background-color: #FF0000;
    color: white;
    text-transform: uppercase;
    margin: 10px 542px 41px 543px;
    display: block;
    border-radius: 5px
}
.footer{
    /*font-family: Montserrat;*/
    /*font-style: normal;*/
    margin: 15px 79px 65px 775px;
    font-weight: bold;
    font-size: 16px;
    /*line-height: 20px;*/
    letter-spacing: 2.4px;
    color: #373737;
}