.book-item {
    margin: 30px auto;
    background-color: darkgrey;
    border: 2px solid grey;
    border-radius: 5px;
    width: 30%;
    font-family: sans-serif;
    color: white;
    padding: 20px;
    text-align: center;

}

.book-author {
    font-size: 20px;

}

.book-name {
    font-size: 18px;
    font-weight: bold;
}

.book-price {
    font-size: 20px;
    font-weight: bold;
}

