.full_page {
    position: relative;
    width: 1366px;
    height: 768px;
    font-family: Roboto, Arial, Sans-Serif;
    background-image: url("../images/background1.png");
    margin: 0 auto;
}

.header {
    color: white;
    width: 1060px;
    height: 53px;
    position: relative;
    left: 155px;
    top: 60px;
    overflow: hidden;
}



.logo-text-block {
    float: left;
    position: absolute;
    width: 155px;
    height: 44px;
    display: inline-block;
}

.logo-text-block:hover {
    color: #F26522;
}

.logo-text-block:hover .logo {
    content: url("../images/logo_orange.png");
}

.header-link {
    float: left;
    color: white;
}

.header-link:hover {
    color: #F26522;
}

.logo {

    width: 46px;
    height: 44px;
    padding-right: 15px;
    float: left;
    /*display: inline-block;*/


}


.logo_full_text {
    font-size: 29px;
    line-height: 21px;
    text-transform: uppercase;
    font-weight: bold;
    /*margin-left: 15px;*/
    /*display: inline-block;*/
    /*height: 44px;*/
    /*width: 93px;*/
    float: left;
    position: relative;
    /*left: 0;*/
    top: 4px;
}


.logo_text_part2 {
    position: relative;
    top: 4px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 21px;
    /*width: 80px !important;*/
    /*display: inline-block;*/

    /*margin-left: 15px;*/
    /*position: relative;*/
    /*bottom: 0;*/
    /*left: 61px;*/
    /*top: 30px;*/

}


.contacts {
    float: right;
    display: inline-block;
    position: relative;
}

.email {
    font-size: 18px;
    /*color: white;*/
    margin-bottom: 17px;
    position: absolute;
    top: 0;
    right: 0;

}

.phone {
    font-size: 18px;
    position: absolute;
    bottom: 0;
    right: 0;
    /*color: white;*/
}

.content-block {
    position: relative;
    top: 60px;
    left: 155px;
    width: 1060px;
    margin-top: 40px;
}

.tours-blocks {
    position: relative;
    float: left;
    margin-right: 60px;
    /*overflow: hidden;*/
    text-align: center;
}

.tours-images {
    /*border: 3px solid black;*/
    border: 3px solid black;
    border-image: linear-gradient(to top, black 0%, white 100%);
    border-image-slice: 1;

}

.image-name {
   position: relative;
    margin-top: 18.5px;
    color: rgba(255,255,255,1);
    font-size: 18px;
}

.margin-right-0 {
    margin-right: 0;
}

.margin-top-54 {
    margin-top: 54px;
}

.tours-information {
    position: absolute;
    top: 190px;
    left: 0;
    width: 313px;
    height: 15px;
    color: rgba(255,255,255,0);
    background-color: #F26522;
    opacity: 0;

}
.tours-blocks:hover .tours-information {
    position: absolute;
    top: 141px;
    left: 0;
    width: 313px;
    height: 63px;
    color: rgba(255,255,255,1);
    opacity: 1;
    transition: 1s;
}

.tours-blocks:hover .image-name{
    color: #F26522;
}



.tours-information-text {
    position: absolute;
    left: 21px;
    top: 11px;
    font-size: 10px;
}

.tours-price {
    position: absolute;
    left: 21px;
    top: 31px;
    font-size: 20px;
}

.tours-details {
    position: absolute;
    width: 78px;
    height: 14px;
    left: 185px;
    top: 33px;
    font-size: 14px;
}
.tours-details:hover{
    color: lightslategray;
}

.tours-details::after {
    content: url("../images/Vector1.svg");
    position: absolute;
    left: 102px;
    top: 2px;
}


.footer {
    clear: both;
    position: absolute;
    bottom: 15px;
    left: 530px;
    font-size: 12px;
    color: white;
}