.cart-modal {
  width: 100vw;
  height: 100vh;
  background-color: dimgrey;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;

}


.cart-modal__window {
  position: absolute;
  width: 50%;
  background-color: orange;
  text-align: center;
  color: white;
  border-radius: 4px;

}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #D44637;
  padding: 10px 30px;
  margin-bottom: 20px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;


}

.cart-modal__btn {
  border: 1px solid #D44637;
  font-size: 22px;
  margin: 10px;
}

.modal__header-text {
  font-size: 22px;
}