.goods-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.header {
padding: 30px;
  background-color: orange;
}

.logo {
  cursor: pointer;
  text-decoration: none;
}

.logo__text-p1 {
  font-size: 32px;
  color: dimgrey;
  font-weight: bold;
}

.logo__text-p2 {
  text-transform: uppercase;
  font-size: 32px;
  color: #E74C3C;
  font-weight: bolder;
}