.priceField {
    margin: 20px;
    text-align: center;
}

.currentPrice {
    display: block;
    background-color: limegreen;
    width: 220px;
}

.errorMessageBlock {
    background-color: red;
    width: 220px;
}

.exitCurPrBut {
    background-color: grey;
    margin-left: 210px;
    width: 10px;
    height: 10px;
    display: block;
    font-size: 8px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;

}