@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&display=swap");

.pricing_table {
    border: 20px solid #3A4965;
    font-family: "Arimo", Arial, sans-serif;
    color: #484848;
    border-collapse: collapse;
    font-size: 16px;
    text-transform: uppercase;
}

th {
    border-right: 2px solid rgba(189, 195, 199, 0.3);
    font-weight: bold;
    border-collapse: collapse;
}

td {
    border-right: 2px solid rgba(189, 195, 199, 0.3);
    text-align: center;
    border-collapse: collapse;
}

.table_name {
    padding: 35px 50px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #FAFAFA;
    vertical-align: middle;
}

.table_name_small_text {
    display: block;
    font-size: 18px;
    padding-bottom: 5px;
}

.table_name_big_text {
    font-size: 30px;
}

.pricing_plan_name {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 20px;
}

.lowest_price_cell {
    background-color: #89C331;
    font-size: 24px;
    padding: 30px 75px 21px 75px;

}

.middle_price_cell {
    font-size: 30px;
    background-color: #f04a56;
    padding: 23px 72px 22px 72px;
}

.highest_price_cell {
    background-color: #20807c;
    font-size: 24px;
    padding: 30px 85px 21px 85px;
}

.price {
    position: relative;
    font-size: 60px;
    padding-left: 35px;
    padding-top: 35px;
}

sup {
    font-size: 24px;
    vertical-align: super;
    position: absolute;
    top: 27px;
}

.payment_period {
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
    position: relative;
    bottom: 15px;
    right: 32px;
    left: -12px;
    padding-right: 35px;
}

.pricing_plan_characteristics {
    font-size: 16px;
    text-transform: uppercase;
    line-height: 28px;
    padding-top: 25px;
    padding-bottom: 20px;
}

i {
    font-size: 24px;
    color: #848484;
    padding-right: 15px;

}

.buttons {
    font-size: 16px;
    color: white;
    width: 195px;
    margin: 30px 40px;
    padding-top: 20px;
    padding-bottom: 5px;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;

}

.contacts_button {
    background-color: #484848;
    border-bottom: 10px solid #404040;
}

.contacts_button:hover {
    background-color: #404040;
    color: lightgray;
}

.buy_cheapest_button {
    background-color: #89C331;
    border-bottom: 10px solid #79B027;
}

.buy_cheapest_button:hover {
    background-color: #79B027;
    color: lightgray;
}

.buy_middle_button {
    background-color: #f04a56;
    border-bottom: 10px solid #DF3A46;
}

.buy_middle_button:hover {
    background-color: #DF3A46;
    color: lightgray;
}

.buy_expensive_button {
    background-color: #20807c;
    border-bottom: 10px solid #16736F;
}

.buy_expensive_button:hover {
    background-color: #16736F;
    color: lightgray;
}

tr:nth-child(odd) {
    background-color: #F2F2F2;
}

tr:nth-child(even) {
    background-color: #E3E3E3;
}

.price {
    background-color: #FAFAFA;
}