.cart-modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(10, 0, 5, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;

}


.cart-modal__window {
  position: absolute;
  width: 50%;
  background-color: #E74C3C;
  text-align: center;
  color: white;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #D44637;
  padding: 25px 30px;
  margin-bottom: 20px;
}

.cart-modal__btn {
  border: 1px solid #D44637;
  font-size: 22px;
  margin: 10px;
}

.modal__header-text {
  font-size: 22px;
}